body {
    font-family: Arial, sans-serif;
    background-image: url('https://assets-webp.khelnow.com/d7293de2fa93b29528da214253f1d8d0/news/uploads/2023/12/UEFA-Euro-2024.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom; 
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    margin-top: 20px; 
}

.hidden {
    display: none;
}

.error-message {
    color: red;
}

#game-list .game {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
}

#game-list .game input[type="number"] {
    width: 40px;
    margin: 0 5px;
}

.group-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.group-table caption {
    font-weight: bold;
    margin-bottom: 5px;
}

.group-table th, .group-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.group-table th {
    background-color: #4CAF50;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
